@font-face {
  font-family: "Freebrush Script";
  src: url("Freebrush Script.ttf");
}

@font-face {
  font-family: "Nexa Light";
  src: url("Fontfabric - Nexa-Light.otf");
}

@font-face {
  font-family: "Nexa Bold";
  src: url("Nexa Bold.otf");
}

@font-face {
  font-family: "Nexa Book";
  src: url("Fontfabric - Nexa-Book.otf");
}

#text_shell {
	/*Rotation*/
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
}

#scrolling_text1 {
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
}

#wrapper {
	margin: 0;
	width: 600px;
	height: 700px;
	border: 0px;
	background-color: #000000;
}

#column-left {
  background: #000;
  position: absolute;
  height: 900px;
  width: 100px;
}

#column-middle {
  background: #000;
  position: absolute;
  height: 900px;
  width: 115px;
  left: 100px;
}

.scroll-left {
	height: 100%;	
	overflow: hidden;
	position: relative;
}

.scroll-left4 {
	white-space: nowrap;
	position: absolute;
    bottom: 325px;
	width: 100%;
	margin: 0px;
	line-height: 100%;
	text-align: center;
	color: #fe8103;
    font-family: "Nexa Book";
    font-size: 80px;
	/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);	
	transform:translateX(100%);
	/* Apply animation to this element */	
	-moz-animation: scroll-left 13s linear infinite;
	-webkit-animation: scroll-left 13s linear infinite;
	animation: scroll-left 13s linear infinite;
}

.scroll-left5 {
	white-space: nowrap;
	position: absolute;
    bottom: 390px;
	width: 100%;
	margin: 0px;
	line-height: 100%;
	text-align: center;
	color: #f8b72b;
  font-family: "Nexa Book";
  font-size: 15px;
	/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);	
	transform:translateX(100%);
	/* Apply animation to this element */	
	-moz-animation: scroll-left 7s linear infinite;
	-webkit-animation: scroll-left 7s linear infinite;
	animation: scroll-left 7s linear infinite;
}

.scroll-left6 {
	white-space: nowrap;
	position: absolute;
  	bottom: 343px;
	width: 100%;
	margin: 0px;
	line-height: 100%;
	text-align: center;
	color: #fe8103;
  font-family: "Nexa Book";
  font-size: 35px;
	/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);	
	transform:translateX(100%);
	/* Apply animation to this element */	
	-moz-animation: scroll-left 5s linear infinite;
	-webkit-animation: scroll-left 5s linear infinite;
	animation: scroll-left 5s linear infinite;
}


.scroll-left8 {
	white-space: nowrap;
	position: absolute;
  bottom: 200px;
	width: 100%;
	margin: 0px;
	line-height: 100%;
	text-align: center;
	color: #e31837;
  font-family: "Freebrush Script";
  font-size: 55px;
	/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);	
	transform:translateX(100%);
	/* Apply animation to this element */	
	-moz-animation: scroll-left 14s linear infinite;
	-webkit-animation: scroll-left 14s linear infinite;
	animation: scroll-left 14s linear infinite;
}


.scroll-left11 {
  background: #fff;
	white-space: nowrap;
	position: absolute;
  bottom: 78px;
	width: 100%;
	margin: 0px;
	line-height: 100%;
	text-align: center;
	color: #e31837;
  font-family: "Freebrush Script";
  font-size: 55px;
	/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);	
	transform:translateX(100%);
	/* Apply animation to this element */	
	-moz-animation: scroll-left 11s linear infinite;
	-webkit-animation: scroll-left 11s linear infinite;
	animation: scroll-left 11s linear infinite;
}

.scroll-left14 {
	white-space: nowrap;
	position: relative;
	width: 100%;
	margin: 0px;
	line-height: 100%;
	text-align: center;
	color: #009900;
  font-family:Nexa-Light;
  font-size: 50px;
	/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);	
	transform:translateX(100%);
	/* Apply animation to this element */	
	-moz-animation: scroll-left 9s linear infinite;
	-webkit-animation: scroll-left 9s linear infinite;
	animation: scroll-left 9s linear infinite;
}

span.welcome {
  font-family: "Nexa Light";
  font-size: 40px;
  color: #489cd4;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}

@keyframes scroll-left {
	0% { 
		-moz-transform: translateX(100%); /* Browser bug fix */
		-webkit-transform: translateX(100%); /* Browser bug fix */
		transform: translateX(100%); 		
	}
	100% { 
 		-moz-transform: translateX(-100%); /* Browser bug fix */
 		-webkit-transform: translateX(-100%); /* Browser bug fix */
 		transform: translateX(-100%); 
 	}
}
