@charset "utf-8";
@import "normalize";

/*body {*/
  /*background: #ECC561;*/
/*}*/

#wrapper {
  margin: 0;
  width: 600px;
  height: 700px;
  border: 0px;
  background-color: #000;
}

#column-left {
  background: #000;
  position: absolute;
  height: 900px;
  width: 100px;
 }

#column-middle {
  background: #000;
  position: absolute;
  height: 900px;
  width: 115px;
  left: 100px;
}
#column-right {
  background: #000;
  position: absolute;
  height: 900px;
  width: 115px;
  left: 200px;
}
