@charset "utf-8";
@import "normalize";

@font-face {
  font-family: 'Nexa Light';
  src: url('fonts/Nexa Light.otf');
}

@font-face {
  font-family: "Nexa-Bold";
  src: url('fonts/Nexa Bold.otf');
}

@font-face {
  font-family: 'Nexa Book';
  src: url('fonts/Nexa Book.otf');
}

body {
  /*background: #000;*/
  background: #fff;
  color: #fff;
  font-family: 'Nexa Book', Helvetica, Arial;
}

#wrapper {
  border: 0px;
  height: 700px;
  margin: 0;
  width: 600px;
}

.column {
  height: 900px;
  position: absolute;
  width: 100px;
}

#left-column, #middle-column, #right-column {
  //border: 1px dotted #292929;
}

#left-column, #middle-column {
  background-color: #fff;
}

#middle-column {
  left: 100px;
}

#right-column {
  background: #000;
  left: 215px;
  padding-left: 52px;
}

.rotated-container {
  position: absolute;
  width: 1400px;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 0% 65%;
}

.marquee {
  height: 157px;
  position: relative;
  -webkit-transform:translateX(50%);
}

.marquee div {
  // Used for revealing rectangles
  // background-color: rgba(3, 244, 98, .7);
  font-family: 'Nexa Book';
  font-size: 83px;
  text-transform: uppercase;
  letter-spacing: -6px;
  display: block;
  position: relative;
  bottom: -3px;
  overflow: hidden;

  -webkit-animation: marquee 9s linear infinite;
  -moz-animation: marquee 9s linear infinite;
  -ms-animation: marquee 9s linear infinite;
  -o-animation: marquee 9s linear infinite;
  animation: marquee 9s linear infinite;
}

@-webkit-keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

@-moz-keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

@-ms-keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

@-o-keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.marquee-fast {
  height: 157px;
  position: relative;
  width: 1400px;
  -webkit-transform:translateX(50%);
}

.marquee-fast div {
  // background-color: rgba(3, 244, 98, .7);
  bottom: -2px;
  display: block;
  font-family: 'Nexa Book';
  font-size: 41px;
  overflow: hidden;
  position: relative;
  /*text-transform: uppercase;*/

  -webkit-animation: marquee 9s linear infinite;
  -moz-animation: marquee 9s linear infinite;
  -ms-animation: marquee 9s linear infinite;
  -o-animation: marquee 9s linear infinite;
  animation: marquee 9s linear infinite;
}

.marquee-slow {
  height: 157px;
  position: relative;
  width: 1400px;
  -webkit-transform:translateX(50%);
}

.marquee-slow div {
  // background-color: rgba(3, 244, 98, .7);
  bottom: -2px;
  display: block;
  font-family: 'Nexa Book';
  font-size: 41px;
  overflow: hidden;
  position: relative;
  /*text-transform: uppercase;*/

  -webkit-animation: marquee 12s linear infinite;
  -moz-animation: marquee 12s linear infinite;
  -ms-animation: marquee 12s linear infinite;
  -o-animation: marquee 12s linear infinite;
  animation: marquee 12s linear infinite;
}

@-webkit-keyframes marquee {
  0% { left: 0; }
  100% { left: 0%; }
}

@-moz-keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

@-ms-keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

@-o-keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.presented-by-marquee {
  height: 157px;
  position: relative;
  width: 1400px;
  -webkit-transform:translateX(50%);
}

.presented-by-marquee span, .presented-by-marquee img {
  // Used for revealing rectangles
  // background-color: rgba(3, 244, 98, .7);
  bottom: 51px;
  font-family: 'Nexa Book';
  font-size: 41px;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;

  -webkit-animation: marquee 18s linear infinite;
  -moz-animation: marquee 18s linear infinite;
  -ms-animation: marquee 18s linear infinite;
  -o-animation: marquee 18s linear infinite;
  animation: marquee 18s linear infinite;
}

@-webkit-keyframes marquee {
  0% { left: 0; }
  100% { left: 0%; }
}

@-moz-keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

@-ms-keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

@-o-keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.presented-by-marquee img {
  margin-left: 65px;
}

/*

span#matter-large {
  text-transform: uppercase;
  font-size: 141px;
  position: absolute;
  top: -74px;
  left: 25px;
}
span#matter-multiples {
  text-transform: uppercase;
  font-size: 22px;
  position: absolute;
  left: 14px;
  top: 20px;
}
span#matter-medium {
  text-transform: uppercase;
  font-size: 45px;
  position: absolute;
  left: 14px;
  top: -63px;
}

*/
