@charset "utf-8";
@import "normalize";

body {
  background: #000;
}

#wrapper {
  margin: 0;
  width: 600px;
  height: 700px;
  border: 0px;
}

.column {
  position: absolute;
  height: 900px;
  width: 100px;
}

#left {
  background: red;
 }

#middle {
  left: 100px;
  background: yellow;
}
#right {
  left: 200px;
  background: green;
}
