---
title: Welcome to Middleman
---

<div class="">
  <%= image_tag "" %>
</div>

<div class="wrapper">
  <div class="column-left">

  </div>

  <div class="column-middle">

  </div>

  <div class="column-right">

  </div>
</div>
