---
title: Welcome to Middleman
---

<div class='wrapper'>
  <div id='left' class='column'>
  </div>

  <div id='middle' class='column'>
  </div>

  <div id='right' class='column'>
    <%= image_tag 'pritzker-group-logo.svg', height: '60' %>
    <%= image_tag 'context-media-logo.svg', height: '60' %>
  </div>
</div>
