---
title: Welcome to Middleman
---

<div class='wrapper'>
  <div id='left' class='column'>
    <div class='presented-by'>
      <span id='matter-large'>Matter</span>
      <span id='matter-multiples'>Matter&nbsp;Matter&nbsp;Matter&nbsp;Matter&nbsp;Matter&nbsp;Matter&nbsp;</span>
      <span id='matter-medium'>Matter</span>
    </div>
  </div>

  <div id='middle' class='column'>
  </div>

  <div id='right' class='column'>
    <div class='presented-by'>
      <span>Presented by</span>
      <div id='scroll' class='container'>
        <%= image_tag 'pritzker-group-logo.svg', height: '60' %> <%= image_tag 'context-media-logo.svg', height: '60' %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#scroll.container').addClass('animated slideInRight');
    // $('#scroll.container').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', alert('hello world'));
    // $('span#matter-large').addClass('animated slideInRight');
  });
</script>
