---
title: MATTER
---

<div class='wrapper'>


  <div id='left-column' class='column'>
    <div class='rotated-container'>
      <div class='tales-marquee'>
        <div style="padding-top: 25px">
          <span style="color: #000;">Welcome</span> <%= image_tag 'aetna.png', height: '32' %>
        </div>
    </div>
  </div>

  <div id='middle-column' class='column'>
    <div class='rotated-container'>
      <div class='tales-marquee'>
        <div style="padding-top: 25px">
          <span style="color: #000;">Welcome</span> <%= image_tag 'aetna.png', height: '32' %>
        </div>
      </div>
    </div>
  </div>

  <div id='right-column' class='column'>
    <div class='rotated-container'>
      <div class='marquee'>
        <div>
          Matter
        </div>
      </div>
      <!--
      <div class='presented-by-marquee'>
        <span>Presented by</span>
        <%#= image_tag 'aetna.png', height: '28' %>
      </div>
      -->
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    // $('#scroll.container').addClass('animated slideInRight');
    // $('#scroll.container').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', alert('hello world'));
    // $('span#matter-large').addClass('animated slideInRight');
  });
</script>
